html, body {
    height: 100%; /* S'assure que le body occupe toute la hauteur de l'écran */
    display: flex;
    flex-direction: column; /* Aligne les sections du haut vers le bas */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    text-align: center;
    background: #282c34;
    color: white;
    padding: 50px 20px;
}
section { /*Section Projets*/
    padding: 20px;
}

main {
    flex: 1; /* Permet au contenu principal d'occuper tout l'espace disponible */
    background: #282c34;
    color: white;
}
footer {
    text-align: center;
    background: #222;
    color: #aaa;
    padding: 10px;
}

button { 
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background: #2980b9;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
h1 {
    animation: fadeIn 2s ease-in;
}


@media (max-width: 768px) {
    header {
        padding: 20px;
    }
    section {
        padding: 10px;
    }
}

